@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600&display=swap');


body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(to bottom right, rgba(255, 188, 188, 0.2), rgba(115, 92, 255, 0.2));
}

.App {
  text-align: center;
}
